import { <%= propertyName %> } from "./index";

describe('<%= name %>', () => {
  it('<%= name %>: should return {value: "Hello World"}', async () => {
    // Initialize mocks
    // Call tested function and verify its behavior
    const event = <%= propertyName %>({value: 'Hello World'});
    const testResult = await pubsubService(event, null);
    expect(testResult.value).toBe('Hello World');
  });
});
