import { <%= propertyName %> } from "./main";
import { inspect } from 'util';

function pubSubEvent(obj) {
  return {
    data: Buffer.from(JSON.stringify(obj)).toString('base64')
  }
}

describe('<%= name %>', () => {
  it('<%= name %>: should return {value: "Hello World"}', async () => {
    // Initialize mocks
    // Call tested function and verify its behavior
    const event = pubSubEvent({value: 'Hello World'});
    await <%= propertyName %>(event, null);
  });
});
