# <%= name %>

This Google Cloud Function was generated with [Nx](https://nx.dev).


* `gcloud functions <%= propertyName %> --update-env-vars {args.env}`
* `gcloud functions deploy <%= propertyName %> --set-env-vars {args.env}`
* `gcloud functions deploy <%= propertyName %> --service-account {args.email}`
* `gcloud functions deploy <%= propertyName %> --max-instances {args.count}`
